@{
    Layout = null;
}
@using ViewComponent.Models
@model List<Person>
<div class="box">
    <table class="table w-100">
        <thead>
        <tr>
            <th>Name</th>
            <th>Surname</th>
        </tr>
        </thead>
        <tbody>
        @foreach (Person person in @Model)
        {
            <tr>
                <td>@person.UserName</td>
                <td>@person.Subject</td>
            </tr>
        }
        </tbody>
    </table>
</div>